
body {
     margin: 0;
    background-color: white;
    font-size: 16px; /* Ajusta el tamaño de fuente base */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #be8368;
    width: 100%;
    height: 100px; /* Ajusta la altura */
    display: flex;
    justify-content: flex-start; /* Alinea el logotipo a la izquierda del header */
    align-items: center; /* Centra verticalmente el contenido */
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2.5em; /* Ajusta el tamaño de fuente y lo hace más grande */
    text-align: center; /* Ajusta el alineamiento al centro */
    flex-grow: 1; /* Expande para llenar el espacio disponible */
}
.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:100px;
}
.navbar-nav .nav-item .nav-link img {
    filter: invert(1); /* Hace que los iconos sean blancos */
    width: 100px;
}
.navbar-nav .nav-item .nav-link {
            font-size: 1em;
            text-align: center;
        }
.nav-link {
    font-family: Arial, sans-serif; /* Cambia "Arial, sans-serif" al tipo de letra que desees */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de fuente (opcional) */
}
.footer {
    background-color: #be8368;
    color: white;
    text-align: center; /* Alinea el texto al centro */
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Separa el texto e íconos */
    align-items: center;
    margin-top: auto;
}
.footer-icons {
    display: flex;
}
.footer-icons a {
    font-size: 24px;
    color: white;
    margin: 0 10px;
}
.footer-divider {
    background-color: white;
    width: 1px;
    height: 40px; /* Ajusta la altura de la línea blanca vertical */
    margin: 0 10px;
}
.section{
    margin-top: auto;
}
