/*Así se escribe un comentario */
/*Ojo, se usan valores falsos solo a forma de representación, los valores los cambian ustedes a necesidad según el UI*/


/*Los valores pueden ser px de píxeles o % de porcentaje, idealmente % se suele usar en estructuras para anchos*/


/*Representación de código completo*/

h1{font-size: 1em;}

/*Si son diversas propiedades las que se afectan deberían estar todas entre las mismas llaves.. siempre recordar cerrar llaves y al finalizar un valor colocar ;*/

h1{ font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;}


/*PROPIEDADES DE BOX MODEL */

/*MARGIN*/
margin: 0px; /*Todos los lados tendrán el mismo margen*/
margin: 0px 0px; /*El primer valor es top y bottom y el segundo valor es left y right*/
margin: 0px 0px 0px 0px; /*Primer valor top, segundo right, tercero bottom y cuarto left*/
/*márgenes específicos a algún lado*/
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;


/*PADDING*/
padding: 0px; /*Todos los lados tendrán el mismo padding*/
padding: 0px 0px; /*El primer valor es top y bottom y el segundo valor es left y right*/
padding: 0px 0px 0px 0px; /*Primer valor top, segundo right, tercero bottom y cuarto left*/
/*paddings específicos a algún lado*/
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;


/*TAMAÑOS*/
width: 0px; 
/*o bien usar % idealmente cuando son estruturas*/ 
width: 0%;
height: 0px;


/*BORDES*/
border: 1px solid black; /*Todos los lados tendrán el mismo borde. El tipo de stroke sería solid, dashed, dotted o doubled, el último valor es el color*/
/*bordes específicos a algún lado*/
border-top: 1px solid black;
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;


/*COLOR DE FONDO*/
background-color: black;


/*--------------------------------------
TEXTO*/

color: black; /*cambio de color de texto*/''
font-family: "Nombre de fuente", serif; 
font-size: 1em; /*px, em, %, vw*/
font-style: italic; /*normal, oblique, italic*/
font-weight: 600; /*normal, bold, bolder, lighter, número*/

letter-spacing: 0px; /*interletrado px, em, %*/
line-height: 0px; /*interlineado px, em, %*/
text-align: center; /*left, right, justify, center*/
text-decoration: none; /*underline, overline, line-thought, none*/
text-indent: 0px; /*px, em, %... indentado de primer línea*/
text-transform: uppercase; /*lowercase,capitalize*/

column-count: 1; /*números de columnas en texto*/
column-gap: 0px;
column-rule: 1px solid black;
column-width: 100px;



/*--------------------------------------
FORMULARIOS --- OJO ESTO ES PARA MANDAR A LLAMAR AL SELECTOR NO SON PROPIEDADES PUES LAS PROPIEDADES YA SE EXPLICARON ARRIBA CON RELACIÓN A BOX MODEL Y TEXTO*/

input [type=submit] {}   /*para llamar a un tipo específico de input*/
input::placeholder {}  /*para editar el placeholder de determinado input*/
::placeholder {}  /*afecta los placeholders en general*/



/*CARGAR FUENTE EXTERNA DESDE CSS*/

/*PASO 1 - se carga la fuente y se le da un nombre*/
@font-face{
    font-family: nombre_que_le_quieras_poner_a_la_familia_tipografica; 
    src: url(ruta_de_fuente.ttf);  /*<----- VER QUE COMO COSA RARA NO LLEVA COMILLAS*/
}

/*PASO 2 - se manda a llamar con el mismo nombre que se le puso en el paso 1*/

h1{font-family: nombre_dado_a_familia_de_fuente;}

/*CARGAR IMAGENES*/
/*se debe poner un alto y un ancho para que funcione*/
div{
    width: 100%; /*pueda que no se necesite si se trabaja bien llena el espacio del contenedor*/
    height: 350px; /*altura siempre hay que poner en px*/
    background-image: url("ruta de imagen");
    background-size: cover; /*cover llena el espacio, contain mantiene la imagen a su tamaño.*/
    background-repeat: repeat; /*si se repite o no la imagen*/
}